.ButtonEvent {
  width: 100px;
  height: 45px;
  background-color: aquamarine;
  border: 0px;
  border-radius: 5px;
  outline: none;
}

.ButtonEvent-link {
  color: green;
  text-decoration: none;
}

a:hover {
  color: orange;
}